.logo {
    width: 300px;
}

.nav-item:hover{
    background-color: #060043;
}


.custom-check-form{
    width:500px;
}

.form-check-inline {
    width:500px;
}

.dropdown-item:hover {
    background-color: #060043 !important;
    color:white !important;
    
}

.dropdown-item {
    color:#0a0069 !important;
}



.custom:hover{
    background: white !important;
}


#navPagina {
 z-index:100 !important;
}


.dropdown>.dropdown-menu {
    top: 200%;
    transition: 0.3s all ease-in-out;
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
    top: 100%;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }


  .borderEspecial {
      border-bottom:30px solid #0a0069 !important;
  }


  tr:nth-child(even) 
  {
      background: #F1F1F1  !important;
}

  


 

     @media only screen and (min-width: 1000px) {
    
        .table-responsive {

            overflow:hidden !important;
        
             }
            }


  @media only screen and (min-width: 1000px) {
    
    .filtros {
      display: none !important;
    }


  }

  @media (max-width: 600px) {
    .form-check-inline {
        width: 200px;
    }
}

@media (max-width: 1600px) {
    .custom-check-form {
        width: 300px;
    }
}

@media (max-width: 1100px) {
    .custom-check-form {
        width: 180px;
    }
}

@media (max-width: 990px) {
    .custom-check-form {
        width: 550px;
    }

    
}

@media (max-width: 600px) {
    .custom-check-form {
        width: 350px;
    }

    
}
@media (max-width: 400px) {
    .custom-check-form {
        width: 200px;
    }

    
}